{
  "openapi": "3.0.0",
  "info": {
    "title": "create-invitation",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://asia-northeast1-balloon-6bad2.cloudfunctions.net"
    }
  ],
  "paths": {
    "/create-invitation": {
      "post": {
        "summary": "Create Invitation",
        "operationId": "post-create-invitation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "topicId": {
                      "type": "string",
                      "description": "招待コードが作成された話題のID"
                    },
                    "code": {
                      "type": "array",
                      "description": "作成された招待コード",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "招待コードが作成されている。"
          }
        },
        "description": "招待コードを作成する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topicId": {
                    "type": "string"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "topicId": {
                    "type": "string",
                    "description": "話題のID"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/invititation-topic": {
      "post": {
        "summary": "Invitation Topic",
        "operationId": "post-invititation-topic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "topicId": {
                      "type": "string",
                      "description": "招待コードに対応する話題のID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "招待コードの値が不正、または対応する話題が存在しない。"
          }
        },
        "description": "招待コードから話題のIDを取得する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "array",
                    "description": "招待コード",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invitation-code": {
      "post": {
        "summary": "招待コードを取得",
        "operationId": "post-invitation-code",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "招待コードが見つからなかった"
          }
        },
        "description": "話題の招待コードを取得",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topicId": {
                    "description": "話題のID",
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
